In [1]:
# Import libraries
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [10]:
# Load data
df = pd.read_csv('../datasets/mldata2.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [11]:
# Convert data type
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)

In [12]:
# Split data
X = df[['weight', 'gender']]
y = df['likeness']

In [13]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [14]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [21]:
# Model and prediction
model = KNeighborsClassifier(n_neighbors=5)

# Train model
model.fit(X, y)

# Predict on custom data
predicted = model.predict([[70, 1]]) # 70: weight, 1: Male gender
predicted

c:\users\awon\miniconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [19]:
# Split data into train and test
# Metrics for evaluation
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Create model
model = KNeighborsClassifier(n_neighbors=5)
# Fit model
model.fit(X_train, y_train)

# Make prediction
predicted_values = model.predict(X_test)

# Evaluate model
score = accuracy_score(y_test, predicted_values)
print(f'The accuracy score for our model is = {score}')

The accuracy score for our model is = 0.6122448979591837