In [25]:
import pandas as pd
import numpy as np

### Dictionary part1.

In [26]:
# Definition of countries and capitals
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
capitals[ind_ger]

'berlin'

First step is the declaration of two lists *countries* & *capitals*, then using Python `index()` method (which returns the position of the element in the list) we access the index number where germany is located. And in the last step we access & display the capital which is at same position where germany is located (i.e. index number 2)

In [27]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = { 'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

europe

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

Here we convert the lists (countries & capitals) into a dictionary (europe). The dictionary is consist of multiple key-value pairs, where keys are the countries name and values are their capital names respectively. And then we display the dictionary.

In [28]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo

We declare the dictionary (europe) which is consist of countries (keys) and their captials (values). Then we display all the keys using `keys()` method, also we access the value of norway that is oslo.

In [29]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Add italy to europe
europe['italy'] = 'rome'

# Print out italy in europe
print('italy' in europe)

# Add poland to europe
europe['poland'] = 'warsaw'

# Print europe
print(europe)

True
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

After defining the dictionary (europe) we add new country (italy) and its value as (rome) then in the next step we find whether or not the key (italy) exists in europe or not using the `in` keyword, which returns boolean (`True`).
Then we are repeating the same step again creating new key (poland) and its value (warsaw) and we display the result.

In [30]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Update capital of germany
europe['germany'] =  'berlin'

# Remove australia
del(europe['australia'])

# Display europe
europe

{'spain': 'madrid',
 'france': 'paris',
 'germany': 'berlin',
 'norway': 'oslo',
 'italy': 'rome',
 'poland': 'warsaw'}

We have dictionary and we assign new value (berlin) for germany, then we delete the key (australia) from the dictionary using `del` and display the dictionary.

In [31]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = {'capital':'rome', 'population':59.83}

# Add data to europe under key 'italy'
europe['italy'] =  data


# Print europe
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

Here we are dealing with nested dictionary, where we have countries as keys and their values in the form of another dictionary which contains captial & population as keys and their values respectively.
Then we create new nested dictionary and store it to the value *data*. Before displaying the final result we create new key *italy* and assign *data* to it.

In [32]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country' : names,
           'drives_right': dr,
           'cars_per_cap': cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
cars

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

We have three lists *names* (string), *dr* (boolean), and *cpc* (integers) and then we make a dictionary *my_dict* to create key-value pairs where the keys are *country*, *drives_right*, and *cars_per_cap*, and the values are those three list respectively.
Then we convert the dictionarly into Pandas DataFrame and display the results.

In [33]:
# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
cars

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

We create a dictionary from lists and convert it to pandas dataframe, then we make a list of string labels and store it to *row_labels* variable, in the end we change the row name using pandas `.index` attribute and display the results before updating the rows and after updating them.

In [34]:
# Import the cars.csv data: cars
cars = pd.read_csv('./data/cars.csv')

# Print out cars
cars

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JPN           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

Importing and reading the csv file in the dataframe using `.read_csv` function and display the result.

In [35]:
# Fix import by including index_col
cars = pd.read_csv('./data/cars.csv', index_col = 0)

# Print out cars
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

Importing and reading the csv file and treating the first column as index using `index_col` parameter.

In [36]:
# Import cars data
cars = pd.read_csv('./data/cars.csv', index_col = 0)

# Print out country column as Pandas Series
print(cars['country'])
print()

# Print out country column as Pandas DataFrame
print(cars[['country']])
print()

# Print out DataFrame with country and drives_right columns
print(cars[['country', 'drives_right']])

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

           country
US   United States
AUS      Australia
JPN          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

Importing the csv file then we access *country* column as Series and DataFrame, in the end we access the columns *country & drives_right* and display all results.

In [37]:
# Import cars data
cars = pd.read_csv('./data/cars.csv', index_col = 0)

# Print out first 3 observations
print(cars[:3])
print()

# Print out fourth, fifth and sixth observation
print(cars[3:6])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False

     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True

We slice first three observations of our dataframe and display the result, then we slice observations from 3 (inclusive) to 6 (exclusive) and display.

### loc[] and iloc[]

In [38]:
# Import cars data
cars = pd.read_csv('./data/cars.csv', index_col = 0)

# Print out observation for Japan
print(cars.loc['JPN'])
print()

# Print out observations of Australia and Egypt
print(cars.loc[['AUS', 'EG']])

cars_per_cap      588
country         Japan
drives_right    False
Name: JPN, dtype: object

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

`.loc` access the rows & columns by label. So here we first import the csv, then using *.loc* we access the obersavtion of Japan (Series) and display the result. Similarly in the last step we access the observations of Australia and Egypt (DataFrame).

In [39]:
# Import cars data
cars = pd.read_csv('./data/cars.csv', index_col = 0)

# Print out drives_right value of Morocco
print(cars.loc['MOR'])
print()

# Print sub-DataFrame
print(cars.loc[['RU', 'MOR'], ['country', 'drives_right']])

cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object

     country  drives_right
RU    Russia          True
MOR  Morocco          True

First we access the observation of Morocco `cars.loc['MOR'])` and then we access the observation of Russian and Morocco but with specified columns `cars.loc[['RU', 'MOR'], ['country', 'drives_right']]`.

In [41]:
# Import cars data
cars = pd.read_csv('./data/cars.csv', index_col = 0)

# Print out drives_right column as Series
print(cars.loc[:,'drives_right'])
print()

# Print out drives_right column as DataFrame
print(cars.loc[:,['drives_right']])
print()

# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:, ['cars_per_cap', 'drives_right']])

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

     drives_right
US           True
AUS         False
JPN         False
IN          False
RU           True
MOR          True
EG           True

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JPN           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True

First we access all observations but only column *drives_right* and display the result in the form of Series, in second step we do the same thing but the result is displayed in DataFrame, and in the last step we access all observations and their informations in two columns.