# Indexing

In [1]:
# Make a string
a = "Samosa Pakora"
a

'Samosa Pakora'

In [2]:
# Length of indices
len(a)

13

In [3]:
a[0]

'S'

In [4]:
a[1]

'a'

In [5]:
a[3]

'o'

In [6]:
a[12]

'a'

In [7]:
a[0:5]

'Samos'

In [8]:
a[0:6]

'Samosa'

In [9]:
# Last index is exclusive
a[0:13]

'Samosa Pakora'

In [10]:
a[-6:13]

'Pakora'

In [11]:
food = "biryani"
food

'biryani'

## String methods

In [12]:
food

'biryani'

In [13]:
len(food)

7

In [14]:
# Captialize first element
food.capitalize()

'Biryani'

In [15]:
# Uppercase letters
food.upper()

'BIRYANI'

In [16]:
# Lowercase letters
food.lower()

'biryani'

In [17]:
# Replace letters
food.replace("b", "Sh")

'Shiryani'

In [18]:
# Counting a specific alphabet in a string
name = "40_days of Python with Dr Aammar Tufail"
name

'40_days of Python with Dr Aammar Tufail'

In [19]:
name.count("t")

2

### Finding an index number in string

In [20]:
name = "40_days of Python with Dr Aammar Tufail"
name

'40_days of Python with Dr Aammar Tufail'

In [21]:
name.find("Dr")

23

### How to split a string

In [22]:
food = "I love samosa, pakora, raita biryani and karahi"
food

'I love samosa, pakora, raita biryani and karahi'

In [23]:
food.split(",")

['I love samosa', ' pakora', ' raita biryani and karahi']

# Basic data structure in Python
1. Tuple
2. List
3. Dictionaries
4. Set

## 1. Tuple
* Ordered collection of elements
* Enclosed in () round braces/parentheses
* Different kind of elements can be stored
* Once elements are stored you can not change them (immutable)

In [24]:
tup1 = (1, "python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [25]:
# Type of a tuple
type(tup1)

tuple

### Indexing in tuple

In [26]:
tup1[1]

'python'

In [27]:
tup1[2]

True

In [28]:
# Last element is exclusive
tup1[:3]

(1, 'python', True)

In [29]:
# Count of elements in tuple
len(tup1)

4

In [30]:
tup2 = (2, "pythonLearner", 3.5, False)
tup2

(2, 'pythonLearner', 3.5, False)

In [31]:
# Concatenate (to add two or more tuples)
tup1 + tup2

(1, 'python', True, 2.5, 2, 'pythonLearner', 3.5, False)

In [32]:
# Concatenate and repeat
tup1*2 + tup2

(1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 2,
 'pythonLearner',
 3.5,
 False)

In [33]:
tup3 = (40, 57, 98, 45, 36, 55)
tup3

(40, 57, 98, 45, 36, 55)

In [34]:
# Minimum
min(tup3)

36

In [35]:
max(tup3)

98

In [36]:
tup4 = tup3*2
tup4

(40, 57, 98, 45, 36, 55, 40, 57, 98, 45, 36, 55)

In [37]:
tup4.count(57)

2

In [38]:
tup3

(40, 57, 98, 45, 36, 55)

In [39]:
tup3.index(45)

3

## 2. List
* Ordered collection of elements
* Enclosed in [] Square-braces/brackets
* Mutable, you can change the values

In [40]:
list1 = [2, "pythonLearner", False]
list1

[2, 'pythonLearner', False]

In [41]:
type(list1)

list

In [42]:
len(list1)

3

In [43]:
list1[2]

False

In [44]:
list2 = [5, 7, "Aammar", "Codanics", 785, 4.23, False]
list2

[5, 7, 'Aammar', 'Codanics', 785, 4.23, False]

In [45]:
list1 + list2

[2, 'pythonLearner', False, 5, 7, 'Aammar', 'Codanics', 785, 4.23, False]

In [46]:
list1*2

[2, 'pythonLearner', False, 2, 'pythonLearner', False]

In [47]:
list1

[2, 'pythonLearner', False]

In [48]:
list1.reverse()
list1

[False, 'pythonLearner', 2]

In [49]:
list1.append("Codanics YouTube Channel")
list1

[False, 'pythonLearner', 2, 'Codanics YouTube Channel']

In [50]:
list1.count("pythonLearner") # how many times specified element is appeared

1

In [51]:
list3 = [47, 58, 32, 47, 85, 69, 84, 65, 98, 47, 25, 32]
list3

[47, 58, 32, 47, 85, 69, 84, 65, 98, 47, 25, 32]

In [52]:
len(list3)

12

In [53]:
# Sorting a list
list3.sort()
list3

[25, 32, 32, 47, 47, 47, 58, 65, 69, 84, 85, 98]

In [54]:
list3*2

[25,
 32,
 32,
 47,
 47,
 47,
 58,
 65,
 69,
 84,
 85,
 98,
 25,
 32,
 32,
 47,
 47,
 47,
 58,
 65,
 69,
 84,
 85,
 98]

In [55]:
lists = list1 + list2
lists

[False,
 'pythonLearner',
 2,
 'Codanics YouTube Channel',
 5,
 7,
 'Aammar',
 'Codanics',
 785,
 4.23,
 False]

In [56]:
sports = ['snooker', 'cricket', 'basketball', 'football']
sports

['snooker', 'cricket', 'basketball', 'football']

In [57]:
# Copy list
copy_sports = sports.copy()
copy_sports

['snooker', 'cricket', 'basketball', 'football']

In [58]:
# Extend list
copy_sports.extend(['volleyball']) # takes list of element(s)
copy_sports

['snooker', 'cricket', 'basketball', 'football', 'volleyball']

In [59]:
# Remove all elements from the list
copy_sports.clear()
copy_sports

[]

In [60]:
# Find position of the element
sports.index("basketball")

2

In [61]:
# Insert new element
sports.insert(1, "baseball")
sports

['snooker', 'baseball', 'cricket', 'basketball', 'football']

In [62]:
# Remove an element at the specified position
sports.pop(2)

'cricket'

In [63]:
# Remove an element at the specified value
sports.remove("baseball")
sports

['snooker', 'basketball', 'football']

## 3. Dictionaries
* An unordered collection of elements
* Key and Value
* Curly braces or brackets {}
* Mutable/Change the values

In [64]:
# Food and their prices
food1 = {"Samosa": 30, "Raita": 20, "Pakora": 100, "Salad": 50, "Chicken Rolls": 30}
food1

{'Samosa': 30, 'Raita': 20, 'Pakora': 100, 'Salad': 50, 'Chicken Rolls': 30}

In [65]:
type(food1)

dict

In [66]:
# Extract data
keys1 = food1.keys()
keys1

dict_keys(['Samosa', 'Raita', 'Pakora', 'Salad', 'Chicken Rolls'])

In [67]:
values = food1.values()
values

dict_values([30, 20, 100, 50, 30])

In [68]:
# Adding new elemnt
food1["Tikki"] = 10
food1

{'Samosa': 30,
 'Raita': 20,
 'Pakora': 100,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 10}

In [69]:
# Update the values
food1["Tikki"] = 15
food1

{'Samosa': 30,
 'Raita': 20,
 'Pakora': 100,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15}

In [70]:
food2 = {"Dates": 50, "Chocolates": 200, "Swayyan": 1000}
food2

{'Dates': 50, 'Chocolates': 200, 'Swayyan': 1000}

In [71]:
# Concatenate
food1.update(food2)

In [72]:
food1

{'Samosa': 30,
 'Raita': 20,
 'Pakora': 100,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15,
 'Dates': 50,
 'Chocolates': 200,
 'Swayyan': 1000}

In [73]:
# Copy dictionary
copy_food1 = food1.copy()
copy_food1

{'Samosa': 30,
 'Raita': 20,
 'Pakora': 100,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15,
 'Dates': 50,
 'Chocolates': 200,
 'Swayyan': 1000}

In [74]:
# Remove all elements
copy_food1.clear()
copy_food1

{}

In [75]:
# Create different keys with same values
food = ("Ice cream", "Milk shake", "Cold drinks")
price = 75

rates = dict.fromkeys(food, price)
rates

{'Ice cream': 75, 'Milk shake': 75, 'Cold drinks': 75}

In [76]:
# Get value from dict
food1.get("Samosa")

30

In [77]:
# Get key-value pairs
food1.items()

dict_items([('Samosa', 30), ('Raita', 20), ('Pakora', 100), ('Salad', 50), ('Chicken Rolls', 30), ('Tikki', 15), ('Dates', 50), ('Chocolates', 200), ('Swayyan', 1000)])

In [78]:
# Remove an item from the dict
food1.pop("Swayyan")
food1

{'Samosa': 30,
 'Raita': 20,
 'Pakora': 100,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15,
 'Dates': 50,
 'Chocolates': 200}

In [79]:
# Remove last item from the dict
food1.popitem()
food1

{'Samosa': 30,
 'Raita': 20,
 'Pakora': 100,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15,
 'Dates': 50}

In [80]:
# Set the default value of a key
food1.setdefault("Chicken Rolls", 3000)

30

## 4. Set
* Unordered and unindexed
* Curly braces are used {}
* No duplicates allowed

In [81]:
s1 = {2, 2.5, 78.25, "Aammar", "Codanics", "Faisalabad", True}
s1

{2, 2.5, 78.25, 'Aammar', 'Codanics', 'Faisalabad', True}

In [82]:
s1.add("Aammar1")

In [83]:
s1

{2, 2.5, 78.25, 'Aammar', 'Aammar1', 'Codanics', 'Faisalabad', True}

In [84]:
s1.remove("Aammar1")
s1

{2, 2.5, 78.25, 'Aammar', 'Codanics', 'Faisalabad', True}

In [85]:
# Copy set
copy_s1 = s1.copy()
copy_s1

{2, 2.5, 78.25, 'Aammar', 'Codanics', 'Faisalabad', True}

In [86]:
# Remove set
copy_s1.clear()
copy_s1

set()

In [87]:
food1

{'Samosa': 30,
 'Raita': 20,
 'Pakora': 100,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15,
 'Dates': 50}

In [88]:
# Find the difference between two sets
items1 = {"Samosa", "Raita", "Pakora"}
items2 = {"Salad", "Samosa", "Dates"}

items3 = items1.difference(items2)
items3

{'Pakora', 'Raita'}

In [89]:
# Remove items that exist in both sets (Samosa)
items1.difference_update(items2)
items1

{'Pakora', 'Raita'}

In [90]:
items2

{'Dates', 'Salad', 'Samosa'}

In [91]:
# Remove an element from the set
items2.discard("Salad")
items2

{'Dates', 'Samosa'}

In [92]:
food1

{'Samosa': 30,
 'Raita': 20,
 'Pakora': 100,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15,
 'Dates': 50}

In [93]:
# Find the same elements in both sets
old_items = {"Samosa", "Raita", "Pakora", "Salad", "Chicken Rolls", "Tikki", "Dates", "Biryani", "Mutton"}
new_items = {"Salad", "Chicken Rolls", "Tikki", "Biryani"}

combo_items = old_items.intersection(new_items)
combo_items

{'Biryani', 'Chicken Rolls', 'Salad', 'Tikki'}

In [94]:
# Find if no item in old_items is present in new_items
old_items.isdisjoint(new_items)

False

In [95]:
# Find if all items of old_items are present in new_items
old_items.issubset(new_items)

False

In [96]:
# Find if all items of new_items are present in old_items
old_items.issuperset(new_items)

True

In [97]:
# Find items from both sets except the common ones
old_items.symmetric_difference(new_items)

{'Dates', 'Mutton', 'Pakora', 'Raita', 'Samosa'}

In [98]:
# Add few items into new_items
new_items.add("Sweets")
new_items.add("Kabab")
new_items

{'Biryani', 'Chicken Rolls', 'Kabab', 'Salad', 'Sweets', 'Tikki'}

In [99]:
# Remove items present in both sets
# and insert items that is not present in both sets
old_items.symmetric_difference_update(new_items)
old_items

{'Dates', 'Kabab', 'Mutton', 'Pakora', 'Raita', 'Samosa', 'Sweets'}

In [100]:
# Remove items that is not present in both sets
old_items.intersection_update(new_items)
old_items

{'Kabab', 'Sweets'}

In [101]:
# Return a set that contains all items from both sets
fresh_items = old_items.union(new_items)
fresh_items

{'Biryani', 'Chicken Rolls', 'Kabab', 'Salad', 'Sweets', 'Tikki'}

In [102]:
# Insert items from new_items into old_items
old_items

{'Kabab', 'Sweets'}

In [103]:
new_items

{'Biryani', 'Chicken Rolls', 'Kabab', 'Salad', 'Sweets', 'Tikki'}

In [104]:
old_items.update(new_items)
old_items

{'Biryani', 'Chicken Rolls', 'Kabab', 'Salad', 'Sweets', 'Tikki'}

In [105]:
# Remove a random item
old_items.pop()

'Biryani'

In [106]:
old_items

{'Chicken Rolls', 'Kabab', 'Salad', 'Sweets', 'Tikki'}